.page {
  @include optimizeLegibility;
  font-family: $fontMontserrat;
  margin: 0;

  &__header {
    padding-top: 15px;

    @media (min-width: $tabletWidth) {
      padding-top: 0px;
    }
  }

  &__main {
    padding-top: 70px;
    padding-bottom: 70px;
    @media (min-width: $tabletWidth) {
      padding-top: 220px;
      padding-bottom: 150px;
    }
  }
}
