@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
.page {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.arrow {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 45px;
  width: 45px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  fill: azure;
}

.app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("/rossiya2.d29b82b9.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  font-size: 0.5em;
  letter-spacing: 1em;
}

.glitch {
  position: relative;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(10px, 9999px, 65px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(56px, 9999px, 12px, 0);
    transform: skew(0.71deg);
  }
  10% {
    clip: rect(13px, 9999px, 68px, 0);
    transform: skew(0.6deg);
  }
  15% {
    clip: rect(100px, 9999px, 45px, 0);
    transform: skew(0.02deg);
  }
  20% {
    clip: rect(21px, 9999px, 80px, 0);
    transform: skew(0.18deg);
  }
  25% {
    clip: rect(4px, 9999px, 72px, 0);
    transform: skew(0.28deg);
  }
  30% {
    clip: rect(3px, 9999px, 45px, 0);
    transform: skew(0.51deg);
  }
  35% {
    clip: rect(35px, 9999px, 76px, 0);
    transform: skew(0.53deg);
  }
  40% {
    clip: rect(42px, 9999px, 16px, 0);
    transform: skew(0.2deg);
  }
  45% {
    clip: rect(17px, 9999px, 5px, 0);
    transform: skew(0.99deg);
  }
  50% {
    clip: rect(9px, 9999px, 35px, 0);
    transform: skew(0.18deg);
  }
  55% {
    clip: rect(80px, 9999px, 84px, 0);
    transform: skew(0.97deg);
  }
  60% {
    clip: rect(67px, 9999px, 50px, 0);
    transform: skew(0.63deg);
  }
  65% {
    clip: rect(69px, 9999px, 30px, 0);
    transform: skew(0.26deg);
  }
  70% {
    clip: rect(83px, 9999px, 75px, 0);
    transform: skew(0.49deg);
  }
  75% {
    clip: rect(88px, 9999px, 74px, 0);
    transform: skew(1deg);
  }
  80% {
    clip: rect(70px, 9999px, 52px, 0);
    transform: skew(0.84deg);
  }
  85% {
    clip: rect(21px, 9999px, 23px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(74px, 9999px, 67px, 0);
    transform: skew(1deg);
  }
  95% {
    clip: rect(30px, 9999px, 2px, 0);
    transform: skew(0.77deg);
  }
  100% {
    clip: rect(52px, 9999px, 94px, 0);
    transform: skew(0.63deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(10px, 9999px, 65px, 0);
    transform: skew(0.5deg);
  }
  5% {
    clip: rect(56px, 9999px, 12px, 0);
    transform: skew(0.71deg);
  }
  10% {
    clip: rect(13px, 9999px, 68px, 0);
    transform: skew(0.6deg);
  }
  15% {
    clip: rect(100px, 9999px, 45px, 0);
    transform: skew(0.02deg);
  }
  20% {
    clip: rect(21px, 9999px, 80px, 0);
    transform: skew(0.18deg);
  }
  25% {
    clip: rect(4px, 9999px, 72px, 0);
    transform: skew(0.28deg);
  }
  30% {
    clip: rect(3px, 9999px, 45px, 0);
    transform: skew(0.51deg);
  }
  35% {
    clip: rect(35px, 9999px, 76px, 0);
    transform: skew(0.53deg);
  }
  40% {
    clip: rect(42px, 9999px, 16px, 0);
    transform: skew(0.2deg);
  }
  45% {
    clip: rect(17px, 9999px, 5px, 0);
    transform: skew(0.99deg);
  }
  50% {
    clip: rect(9px, 9999px, 35px, 0);
    transform: skew(0.18deg);
  }
  55% {
    clip: rect(80px, 9999px, 84px, 0);
    transform: skew(0.97deg);
  }
  60% {
    clip: rect(67px, 9999px, 50px, 0);
    transform: skew(0.63deg);
  }
  65% {
    clip: rect(69px, 9999px, 30px, 0);
    transform: skew(0.26deg);
  }
  70% {
    clip: rect(83px, 9999px, 75px, 0);
    transform: skew(0.49deg);
  }
  75% {
    clip: rect(88px, 9999px, 74px, 0);
    transform: skew(1deg);
  }
  80% {
    clip: rect(70px, 9999px, 52px, 0);
    transform: skew(0.84deg);
  }
  85% {
    clip: rect(21px, 9999px, 23px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(74px, 9999px, 67px, 0);
    transform: skew(1deg);
  }
  95% {
    clip: rect(30px, 9999px, 2px, 0);
    transform: skew(0.77deg);
  }
  100% {
    clip: rect(52px, 9999px, 94px, 0);
    transform: skew(0.63deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(38px, 9999px, 92px, 0);
    transform: skew(0.18deg);
  }
  5% {
    clip: rect(66px, 9999px, 42px, 0);
    transform: skew(0.21deg);
  }
  10% {
    clip: rect(77px, 9999px, 34px, 0);
    transform: skew(0.06deg);
  }
  15% {
    clip: rect(25px, 9999px, 47px, 0);
    transform: skew(0.44deg);
  }
  20% {
    clip: rect(14px, 9999px, 3px, 0);
    transform: skew(0.46deg);
  }
  25% {
    clip: rect(55px, 9999px, 12px, 0);
    transform: skew(0.25deg);
  }
  30% {
    clip: rect(69px, 9999px, 63px, 0);
    transform: skew(0.52deg);
  }
  35% {
    clip: rect(57px, 9999px, 7px, 0);
    transform: skew(0.69deg);
  }
  40% {
    clip: rect(40px, 9999px, 41px, 0);
    transform: skew(0.2deg);
  }
  45% {
    clip: rect(43px, 9999px, 5px, 0);
    transform: skew(0.57deg);
  }
  50% {
    clip: rect(96px, 9999px, 41px, 0);
    transform: skew(0.29deg);
  }
  55% {
    clip: rect(77px, 9999px, 45px, 0);
    transform: skew(0.98deg);
  }
  60% {
    clip: rect(93px, 9999px, 6px, 0);
    transform: skew(0.44deg);
  }
  65% {
    clip: rect(73px, 9999px, 6px, 0);
    transform: skew(0.67deg);
  }
  70% {
    clip: rect(85px, 9999px, 37px, 0);
    transform: skew(0.92deg);
  }
  75% {
    clip: rect(42px, 9999px, 67px, 0);
    transform: skew(0.58deg);
  }
  80% {
    clip: rect(16px, 9999px, 37px, 0);
    transform: skew(0.84deg);
  }
  85% {
    clip: rect(95px, 9999px, 61px, 0);
    transform: skew(0.38deg);
  }
  90% {
    clip: rect(78px, 9999px, 66px, 0);
    transform: skew(0.03deg);
  }
  95% {
    clip: rect(87px, 9999px, 62px, 0);
    transform: skew(0.53deg);
  }
  100% {
    clip: rect(62px, 9999px, 84px, 0);
    transform: skew(0.97deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(38px, 9999px, 92px, 0);
    transform: skew(0.18deg);
  }
  5% {
    clip: rect(66px, 9999px, 42px, 0);
    transform: skew(0.21deg);
  }
  10% {
    clip: rect(77px, 9999px, 34px, 0);
    transform: skew(0.06deg);
  }
  15% {
    clip: rect(25px, 9999px, 47px, 0);
    transform: skew(0.44deg);
  }
  20% {
    clip: rect(14px, 9999px, 3px, 0);
    transform: skew(0.46deg);
  }
  25% {
    clip: rect(55px, 9999px, 12px, 0);
    transform: skew(0.25deg);
  }
  30% {
    clip: rect(69px, 9999px, 63px, 0);
    transform: skew(0.52deg);
  }
  35% {
    clip: rect(57px, 9999px, 7px, 0);
    transform: skew(0.69deg);
  }
  40% {
    clip: rect(40px, 9999px, 41px, 0);
    transform: skew(0.2deg);
  }
  45% {
    clip: rect(43px, 9999px, 5px, 0);
    transform: skew(0.57deg);
  }
  50% {
    clip: rect(96px, 9999px, 41px, 0);
    transform: skew(0.29deg);
  }
  55% {
    clip: rect(77px, 9999px, 45px, 0);
    transform: skew(0.98deg);
  }
  60% {
    clip: rect(93px, 9999px, 6px, 0);
    transform: skew(0.44deg);
  }
  65% {
    clip: rect(73px, 9999px, 6px, 0);
    transform: skew(0.67deg);
  }
  70% {
    clip: rect(85px, 9999px, 37px, 0);
    transform: skew(0.92deg);
  }
  75% {
    clip: rect(42px, 9999px, 67px, 0);
    transform: skew(0.58deg);
  }
  80% {
    clip: rect(16px, 9999px, 37px, 0);
    transform: skew(0.84deg);
  }
  85% {
    clip: rect(95px, 9999px, 61px, 0);
    transform: skew(0.38deg);
  }
  90% {
    clip: rect(78px, 9999px, 66px, 0);
    transform: skew(0.03deg);
  }
  95% {
    clip: rect(87px, 9999px, 62px, 0);
    transform: skew(0.53deg);
  }
  100% {
    clip: rect(62px, 9999px, 84px, 0);
    transform: skew(0.97deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(-1deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(-4deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(-1deg);
  }
}
.main {
  background: #0a0a0a;
  width: 100%;
  height: 1000px;
}

.footer {
  background: #585858;
  width: 100%;
  height: 100px;
}

/*# sourceMappingURL=/index.css.map */