.social-page {
  @include pageConfig;
  position: relative;

  &__container {
    @include bgGradient($bgUrlMain, $opacituTop: 0.8, $opacituBottom: 0.8);
    @include imageSize($wt: 100wv, $ht: 100vh);
    gap: 10px;
    display: grid;
    justify-content: center;
    align-content: center;                     
  }
  &__tittle {
    color: $blueGlitchColor;
    letter-spacing: 0.6em;
    @include currenFont(0.8em, 1.4em, 700);
    @include dumbAsid;
    text-align: center;
  }
  &__nav {
    margin: auto;
  }
  &__items {
    @include repeatGrid($numColumn: 2, $sizeColumn: 30px);
    @include dumbAsid;
    gap: 30px;
  }
  &__item {
    list-style: none;
    text-align: center;
  }
  &__icon {
    @include imageSize($wt: 30px, $ht: 30px);
    
  }
  &__link-back {
   position: absolute;
   top: 20px;
   left: 30px;
  }

}
