.main {
  @include bgGradient($bgUrlMain, $opacituTop: 0.8, $opacituBottom: 0.8);
  @media (min-width: $tabletWidth) {
    @include imageSize($wt: 100%, $ht: 100vh);
  }

  &__link {
    display: block;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    @include setBorder(1px, solid, $blueColor);
    // @include lineGrid($startRow: 11, $endRow: 12);
    @include currenFont(1em, 1.2em, 700);
    @include imageSize($wt: 160px, $ht: 40px);
    margin: 30px auto 0;
  }
}
