.main {
  @include bgGradient($bgUrlMain, $opacituTop: 0.7, $opacituBottom: 0.7);
  @include imageSize($wt: 100%, $ht: 100vh);
  display: grid;
  align-items: center;

  &__link {
    display: block;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    align-self: start;
    justify-self: center;
    @include setBorder(1px, solid, $blueColor);
    @include imageSize($wt: 45%, $ht: 30px);
    margin: 0;
    @media (max-height: $tabletSize){
      display: none;
      
    }
  }
}
