.footer {
  @include bgGradient($bgUrlFooter, $opacituTop: 0.8, $opacituBottom: 0.6);
  @include imageSize($wt: 100%, $ht: 100%);
  @include repeatGrid(
    $numColumn: 12,
    $sizeColumn: 1fr,
    $numRow: 10,
    $sizeRow: 1fr
  );

  &__date-container {
    @include dumbAsid;
    @include repeatGrid($numColumn: 3, $sizeColumn: 1fr);
    @include lineGrid(
      $startColumn: 2,
      $endColumn: 12,
      $startRow: 2,
      $endRow: 5
    );
    text-align: center;
  }

  &__date {
    color: $blueColor;
    cursor: pointer;
    list-style: none;
    outline: none;
    align-self: center;
    padding: 8px 8px 8px 8px;
    @include currenFont(0.9em, 1em, 700);
    &:hover {
      color: $blackColor;
      background-color: $blueColor;
      opacity: 0.6;
    }
    @media (min-width: $mobileL) {
      @include currenFont(1em, 1em, 700);
    }
  }

  &__form {
    @include lineGrid(
      $startColumn: 2,
      $endColumn: 12,
      $startRow: 6,
      $endRow: 9
    );
    @include repeatGrid(
      $numColumn: 4,
      $sizeColumn: 1fr,
      $numRow: 4,
      $sizeRow: 30px
    );
    grid-row-gap: 8px;
  }

  &__form-input {
    background-color: $blackColor;
    color: $blueColor;
    @include currenFont(0.9em, 1em, 700);
    @include lineGrid($startColumn: 1, $endColumn: 5);
    outline: none;
    padding-left: 10px;
  }

  &__form-button {
    background-color: $blackColor;
    color: $blueColor;
    @include currenFont(0.9em, 1em, 700);
    @include lineGrid($startColumn: 2, $endColumn: 4);
    outline: none;
  }
}
