
//colors;
$blackColor: rgb(10, 10, 10);
$whiteColor: rgb(255, 255, 255);
$blueColor: rgb(100, 220, 220);
$pinkGlitchColor: #ff00c1;
$blueGlitchColor: #00fff9;

//fonts;
$fontMontserrat: "Montserrat", sans-serif;

//url
$iconCloseUrl: "./images/close.svg";
$iconMenuUrl: "./images/menu.svg";
$bgUrlHeader: "./images/cover.jpg";
$bgUrlMain: "./images/dante.jpg";
$bgUrlFooter: "./images/coverRevers.jpg";

//mediascreen
$tabletWidth: 769px;
$laptopWidth: 1024px;
