.wrapper {
  text-align: center;
  @include currenFont(1em, 1.5em, 700);
  @include lineGrid($startColumn: 2, $endColumn: 12, $startRow: 6, $endRow: 8);
  @media (min-width: $tabletWidth) {
    @include currenFont(1.5em, 1.8em, 700);
  }
  @media (min-width: $laptopWidth) {
    @include currenFont(2em, 1.8em, 700);
    @include lineGrid($startColumn: 2, $endColumn: 12, $startRow: 5, $endRow: 7);
  }

  &__sub {
    color: $blueColor;
    @include currenFont(0.5em, 0.6em, 700);
    letter-spacing: 1em;
  }

  &__glitch {
    @include dumbAsid;
    @include currenFont(1.8em, 1.6em, 700);
    letter-spacing: 0.6em;
    position: relative;
    color: $whiteColor;
    animation: glitch-skew 1s infinite linear alternate-reverse;

    &::before {
      @include glitchCopy;
      left: 2px;
      text-shadow: -2px 0 $pinkGlitchColor;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitch-anim 5s infinite linear alternate-reverse;
    }

    &::after {
      @include glitchCopy;
      left: -2px;
      text-shadow: -2px 0 $blueGlitchColor, 2px 2px $pinkGlitchColor;
      animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
  }
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}
