.header {
  @include bgGradient($bgUrlHeader, $opacituTop: 0.6, $opacituBottom: 0.8);
  @include imageSize($wt: 100%, $ht: 100vh);
  @include repeatGrid(
    $numColumn: 12,
    $sizeColumn: 1fr,
    $numRow: 12,
    $sizeRow: 1fr
  );

  &__menu {
    @include lineGrid(
      $startColumn: 2,
      $endColumn: 12,
      $startRow: 1,
      $endRow: 4
    );
    @include repeatGrid($numColumn: 2, $sizeColumn: 1fr);
    justify-content: space-between;
    position: relative;
  }

  &__open {
    @include navIcon($iconMenuUrl);
  }

  &__nav {
    @include dumbAsid;
    @include lineGrid(
      $startColumn: 1,
      $endColumn: 12,
      $startRow: 2,
      $endRow: 5
    );
    color: $whiteColor;
    text-align: center;
    &_off {
      display: none;
    }
  }

  &__items {
    @include repeatGrid($numRow: 3, $sizeRow: 1fr);
    @include dumbAsid;
  }

  &__item {
    list-style: none;
    border-bottom: 1px solid $whiteColor;
    padding-bottom: 5px;
    margin-top: 10px;
    outline: none;
  }
}
