.header {
    background: $blackColor;
    height: 100vh;
    width: 100%;
    @include dumbAsid;
    @include repeatGrid (12, 1fr, 12, 1fr);
    @include bgGradient($bgUrl);

    &__menu {
        @include lineGrid(2, 12, 1, 2);
        @include repeatGrid ($numColumn: 2, $sizeColumn: auto);
        justify-content: space-between;
        position: relative;
        top: 10px;
        padding-bottom: 10px;
       }

       &__open {
        @include navIcon($iconMenuUrl);
      }
      &__close {
        @include navIcon($iconCloseUrl);
      }
      
      &__nav {
        @include dumbAsid;
        @include lineGrid(2, 12, 2, 6);
        color: $whiteColor;
      }
      
      &__items {
        @include repeatGrid ($numRow: 4, $sizeRow: 1fr);
        @include dumbAsid;
      }
      
      &__item {
        list-style: none;
        text-align: center;
        border-bottom: 1px solid $whiteColor; 
        margin-top: 10px;
      }
  }
  

  
